<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Webinar - Watch it Together</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootflat.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <%= yield %>
</body>
</html>
